<% provide :title, t(".heading") %>

<div class="center jumbotron">
  <h1><%= t ".intro" %></h1>
  <% if user_signed_in? %>
    <%= t ".welcome", role: current_user.role_id %>
  <% else %>
    <h2>
      <%= t ".intro2" %>
    </h2>
    <%= link_to t(".signup"), "#", class: "btn btn-lg btn-primary" %>
  <% end %>
</div>
