<% if user_course.trainee? %>
<tr>
  <td>
    <%= link_to user_course.user_full_name, "#" %>
  </td>
  <td>
    <%= user_course.created_at.strftime(Settings.time_format) %>
  </td>
  <td>
    <%= user_course.status %>
  </td>
  <td class="project-actions text-right">
    <%= link_to "#" do %>
      <div class="btn btn-primary btn-sm">
        <i class="fa fa-eye" aria-hidden="true">
        </i>
      </div>
    <% end %>
  </td>
</tr>
<% end %>
