<% provide :title, t(".heading") %>

<section class="content container">
  <div class="card card-info">
    <div class="card-header">
      <h3><%= t ".new_report" %></h3>
    </div>
    <div class="card-body">
      <%= render "report_form" %>
    </div>
  </div>
</section>
