@import 'color';

img[alt*="language_logo"]{
  margin-right: 15px;
  margin-top: 10px;
  width: 36px;
  height: 18px;
  vertical-align: middle;
  border-style: none;
}

#login {
  width: 600px;
  min-height: 450px;
}

.course-table{
  .name, .start_time {
    width: 30%;
  }

  .status, .btnt {
    width: 20%;
  }
}

img[alt*="subject_logo"]{
  width: 120px;
  height: 80px;
  vertical-align: middle;
  border-style: none;
}

.subject-image {
  float: left;
  width: 20%;
  padding-right: 10px;
}

.subject-info {
  float: left;
}

.subject-actions {
  float: right;
  padding-top: 3%;
}

.mycourse-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px
}

.mycourse-item {
  margin-bottom: 20px
}

.mycourse-wrapper {
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  overflow: hidden;
  padding-bottom: 15px;
  background-color: #fff;
  box-shadow: 2px 2px 14px lightgrey;
}

.mycourse-img {
  position: relative;
  background-size: cover;
  transition: all 220ms ease-in;
}

.mycourse-content {
  padding: 0 15px
}

.mycourse-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  border-top: 1px solid #eee;
  padding-top: 10px;
  padding: 0 15px;
}

.btn.btn-success-outline {
  color: $light-green;
  border-color: $light-green;
}

.btn.btn-fail-outline {
  color: $red;
  border-color: $red;
}

.required:after {
  content: " *";
  color: $red;
}

.report-search {
  margin: 15px;
  max-width: 400px;
  border: 2px solid $white;
  border-radius: 5px;
  background-color: $white;
  padding: 25px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

.course-search-status {
  max-width: 15%;
}

.course-search-date-from {
  max-width: 40%;
}

.course-search-date-to {
  max-width: 30%;
}

input[type="date"]:before {
  content: attr(placeholder);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  color: rgba(0, 0, 0, 0.65);
  pointer-events: none;
  line-height: 1.5;
  padding: 0 0.5rem;
}

#notification {
  left: inherit;
  right: 0px;
}
