@import 'color';

img[alt*="language_logo"]{
  margin-right: 15px;
  margin-top: 10px;
  width: 36px;
  height: 18px;
  vertical-align: middle;
  border-style: none;
}

#login {
  width: 600px;
  min-height: 450px;
}

.course-table{
  .name, .start_time {
    width: 30%;
  }

  .status, .btnt {
    width: 20%;
  }
}

img[alt*="subject_logo"]{
  width: 120px;
  height: 80px;
  vertical-align: middle;
  border-style: none;
}

.subject-image {
  float: left;
  width: 20%;
  padding-right: 10px;
}

.subject-info {
  float: left;
}

.subject-actions {
  float: right;
  padding-top: 3%;
}
